* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Nirmala UI", sans-serif;
  color: #FFF;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
  padding: 26px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
  transition: 0.3s ease;
}
.btn-primary {
  background: linear-gradient(103.39deg, #FFE53B -32.17%, #FF2525 114.07%);
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
}
.btn-primary:hover {
  box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.4);
}
.btn-secondary {
  background: transparent;
  border: 2px solid #FFFFFF;
  filter: drop-shadow(4px 4px 20px rgba(255, 255, 255, 0.4));
}
.btn-secondary:hover {
  background: #373737;
}
.btn:hover {
  font-size: 24px;
}
@media (max-width: 767px) {
  .btn {
    height: 56px;
    padding: 16px;
    border-radius: 5px;
    font-size: 24px;
  }
}

.audioToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 48px;
  right: 74px;
  width: 52px;
  height: 52px;
  border: none;
  background: url(../img/icons/on.svg) center center/100% no-repeat;
  cursor: pointer;
  z-index: 4;
}
.audioToggle:before {
  position: absolute;
  width: 3px;
  height: 70px;
  rotate: 45deg;
  background: #FFF;
  content: "";
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .audioToggle:before {
    height: 40px;
  }
}
.audioToggle.playing:before {
  height: 0;
}
@media (max-width: 767px) {
  .audioToggle {
    top: 25px;
    right: 11px;
    width: 30px;
    height: 30px;
  }
}

.mainSwiper {
  width: 100%;
  height: 100%;
}
.mainSwiper .title--gradient {
  text-transform: uppercase;
  -webkit-text-stroke: 2px #FFF;
  background: linear-gradient(130.09deg, #EB5D38 31.89%, #FFD600 92.03%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@media (max-width: 1141px) {
  .mainSwiper .title--gradient {
    -webkit-text-stroke: 1px #FFF;
  }
}
.mainSwiper > .swiper-wrapper > .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../img/background.jpg) center center/cover no-repeat;
  overflow: hidden;
}
.mainSwiper > .swiper-wrapper > .swiper-slide .sws-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 3;
}
.mainSwiper > .swiper-wrapper > .swiper-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 1;
}
@media (max-width: 767px) {
  .mainSwiper > .swiper-wrapper > .swiper-slide {
    background: url(../img/background.jpg) -198px center/cover no-repeat;
  }
}
.mainSwiper .hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSwiper .hero-section .hs-content {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.mainSwiper .hero-section .hs-content .subtitle {
  margin-bottom: 20px;
  padding: 16px 30px;
  border: 1px solid #FFF;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10);
  font-size: 36px;
  line-height: 100%;
}
@media (max-width: 1025px) {
  .mainSwiper .hero-section .hs-content .subtitle {
    margin: 0 26px 10px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .hero-section .hs-content .subtitle {
    margin-bottom: 10px;
    padding: 5px 7px 5px 0;
    font-size: 16px;
    line-height: 120%;
  }
}
@media (max-width: 561px) {
  .mainSwiper .hero-section .hs-content .subtitle {
    max-width: 258px;
  }
}
.mainSwiper .hero-section .hs-content h1 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 84px;
  line-height: 120%;
  text-shadow: 0 4px 20px rgba(255, 213, 54, 0.5);
}
@media (max-width: 1141px) {
  .mainSwiper .hero-section .hs-content h1 {
    margin-bottom: 10px;
    padding: 0 26px;
    font-size: 56px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .hero-section .hs-content h1 {
    font-size: 24px;
  }
}
.mainSwiper .hero-section .hs-content .text {
  display: flex;
  align-items: center;
  text-align: center;
  height: 93px;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFF2CE;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1141px) {
  .mainSwiper .hero-section .hs-content .text {
    padding: 0 26px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .hero-section .hs-content .text {
    height: 47px;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 120%;
  }
}
.mainSwiper .hero-section .hs-content .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.mainSwiper .hero-section .hs-content .btn-group .btn {
  width: 330px;
}
@media (max-width: 1141px) {
  .mainSwiper .hero-section .hs-content .btn-group {
    margin-top: auto;
    padding: 0 15px 18px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .hero-section .hs-content .btn-group {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .hero-section .hs-content {
    height: 100%;
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .hero-section .hs-content {
    max-width: 370px;
  }
}
.mainSwiper .hero-section .hs-img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.mainSwiper .hero-section .hs-img--left {
  left: 70px;
  width: 28vw;
  max-width: 521px;
}
@media (max-width: 1141px) {
  .mainSwiper .hero-section .hs-img--left {
    display: none;
  }
}
.mainSwiper .hero-section .hs-img--right {
  right: 22px;
  width: 35vw;
  max-width: 671px;
}
@media (max-width: 1141px) {
  .mainSwiper .hero-section .hs-img--right {
    right: 300px;
    left: 0;
    width: auto;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .mainSwiper .hero-section .hs-img--right {
    right: 5px;
    bottom: 3px;
  }
}
.mainSwiper .slider-section .sl-content {
  height: 100%;
  padding-top: 35px;
}
.mainSwiper .slider-section .sl-content h2 {
  max-width: 1310px;
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  text-shadow: 0 4px 20px rgba(255, 213, 54, 0.2);
}
@media (max-height: 921px) {
  .mainSwiper .slider-section .sl-content h2 {
    margin-bottom: 24px;
    font-size: 48px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content h2 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content h2 {
    max-width: 308px;
    margin-bottom: 20px;
    font-size: 24px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper {
  width: 100%;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 71px 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFF;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-img-wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.16);
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-img-wrapper .sl-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-img-wrapper .sl-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-height: 921px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-img-wrapper .sl-img {
    max-width: 250px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-img-wrapper .sl-img {
    max-width: 171px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}
@media (max-height: 921px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-title {
    font-size: 24px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-title {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper .sl-title {
    font-size: 20px;
  }
}
@media (max-height: 921px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper {
    padding: 24px 50px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper {
    padding: 22px 17px 23px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .sl-wrapper {
    width: 225px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .btn {
  width: 463px;
  margin-top: 40px;
}
@media (max-height: 921px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .btn {
    width: 350px;
    height: 56px;
    font-size: 24px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .btn {
    margin: 20px 15px 32px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .swiper-slide .btn {
    width: 330px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 134px;
  height: 88px;
  z-index: 1;
  cursor: pointer;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-prev {
  justify-content: flex-end;
  left: 18vw;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-prev img {
  rotate: 180deg;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-prev:after {
  left: 0;
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-prev {
    left: 8vw;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-prev {
    left: 3vw;
    transform: translateY(-160%);
  }
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-prev img {
    position: relative;
    right: -56px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-next {
  right: 18vw;
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-next:after {
  right: 0;
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-next {
    right: 8vw;
  }
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-next {
    right: 3vw;
    transform: translateY(-160%);
  }
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button-next img {
    position: relative;
    left: -56px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button:after {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 0;
  border-radius: 50%;
  background: linear-gradient(103.39deg, #FFE53B -32.17%, #FF2525 114.07%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  content: "";
  z-index: -1;
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button:after {
    width: 45px;
    height: 45px;
  }
}
.mainSwiper .slider-section .sl-content .sliderSwiper .sl-button:hover:after {
  box-shadow: inset 4px -4px 8px rgba(0, 0, 0, 0.25), inset -4px 4px 8px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper .sl-button {
    width: 51px;
    height: 45px;
    overflow: hidden;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content .sliderSwiper {
    margin: auto 0;
  }
}
@media (max-height: 921px) {
  .mainSwiper .slider-section .sl-content {
    padding-top: 20px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .slider-section .sl-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}
.mainSwiper .warning-section .ws-content {
  max-width: 785px;
  margin: 0 auto;
  text-align: center;
}
.mainSwiper .warning-section .ws-content .ws-title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 120px;
  line-height: 100%;
}
@media (max-width: 767px) {
  .mainSwiper .warning-section .ws-content .ws-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 44px;
  }
}
.mainSwiper .warning-section .ws-content p {
  margin-bottom: 120px;
  font-size: 32px;
  line-height: 140%;
}
@media (max-width: 767px) {
  .mainSwiper .warning-section .ws-content p {
    margin-bottom: 0;
    padding: 0 26px;
    font-size: 18px;
    line-height: 24px;
  }
}
.mainSwiper .warning-section .ws-content .btn {
  width: 463px;
}
@media (max-width: 1141px) {
  .mainSwiper .warning-section .ws-content .btn {
    margin: auto 15px 31px;
  }
}
@media (max-width: 767px) {
  .mainSwiper .warning-section .ws-content .btn {
    width: 330px;
  }
}
@media (max-width: 1141px) {
  .mainSwiper .warning-section .ws-content {
    height: 100%;
    padding-top: 20px;
  }
}
.mainSwiper .warning-section .ws-img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.mainSwiper .warning-section .ws-img--left {
  left: 39px;
  width: 28vw;
  max-width: 523px;
}
@media (max-width: 1141px) {
  .mainSwiper .warning-section .ws-img--left {
    width: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .mainSwiper .warning-section .ws-img--left {
    width: 279px;
    right: -17px;
    bottom: -8px;
  }
}
.mainSwiper .warning-section .ws-img--right {
  right: 27px;
  width: 30vw;
  max-width: 567px;
}
@media (max-width: 1141px) {
  .mainSwiper .warning-section .ws-img--right {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
